body{
    background: linear-gradient(#CDE7F4, #3E74A8);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 101%;
    width: 100%;
}

.titulo{
    /* Ingrese el texto aqui */
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
/* identical to box height, or 48px */
/* Dark blue/dark-blue-300 */
    color: black;
    width: 100%;
}

.logo{
    padding-top: 25px;
    margin-left: 45px;
    width: 5%;
}

main{
    display: flex;
    padding: 2% 5%;
    gap: 30px;   

    justify-content: space-between;
    /*outline: 1px solid red;*/
    margin: 0 auto;
    align-content: center;
}

/*Casillas*/
.casilla-texto{
    background: white;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0a3871;
    width: 100%;
    max-width: 500px;
    padding: 2px;
    position: relative;
    
    text-align: center;
    color:black;
}
.casilla-texto:focus{
    outline: none;
}

.casilla-resultado{
    border: none;
    border-radius: 24px;
    width: 100%;
    max-width: 500px;
    

    text-align-last: center;
    color:black;
}

.casilla-resultado:focus{
    outline: none;
}

.botones{
    display: flex;
    padding: 2%;

    width: 80%;
    justify-content: space-evenly;
}

.bt_encriptar{
   background-color: #CCE0F3;
    border: 1px solid #80a4cb;
    border-radius: 24px;
    color: black;
    cursor: pointer;
    font-size: 15px;
    transition: 1s all;
    font-weight: bold; 
    height: 40px;
    width: 136px;
    color:black;
}
.bt_encriptar:hover{
    transform: scale(1.1);
}

.bt_desencriptar{
    background-color: #CCE0F3;
    border: 1px solid #80a4cb;
    border-radius: 16px;
    color: black;
    cursor: pointer;
    font-size: 15px;
    transition: 1s all;
    font-weight: bold;
    color: black;
    height: 40px;
    width: 136px;
    color: black;
}

.bt_desencriptar:hover{
    transform: scale(1.1);
}

.copiar{
    background-color: #CCE0F3 ;
    border: 1px solid #80a4cb;
    border-radius: 24px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 1s all; 
    height: 40px;
    width: 103px;
    font-size: medium;
    color:black;

    margin-top: 30px;

}
.copiar:hover{
    transform: scale(1.1);
}

.bt_actualizar{
    background-color: #CCE0F3 ;
    border: 1px solid #80a4cb;
    border-radius: 24px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 1s all; 
    height: 40px;
    width: 130px;
    font-size: medium;
    color:black;
    
    margin-top: 30px;
}

.bt_actualizar:hover{
    transform: scale(1.1);
}

.informacion{
    color: #3A3A3A;
    font-size: 18px;
   
}

/*PIE DE PAGINA*/

footer{
    text-align: center;
    background: black;
   

    width: 100%;
    height: 100px;
    color: white;
    font-size: 20px;
}

/* para cel */
@media(max-width: 798px){
    main{
        flex-direction: column;
    }
}

 