body{
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    position: absolute;
    left: 5%;
    right: 85%;
    top: 5%;
    bottom: 0%;
}

.titulo{
    /* Ingrese el texto aqui */
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
/* identical to box height, or 48px */
/* Dark blue/dark-blue-300 */
    color: #0A3871;
}

main{
    display: flex;
}


.informacion{
    position: absolute;
    left: 80%;
    right: auto;
    top: 200px;
    bottom: 0%;
    font-size: 49%;

}

.logo2{
    left: 0;
    right: auto;
    top: 200px;
}

/*Casillas*/
.casilla-texto{
    position: absolute;
    width: auto;
    left: 70px;
    top: 250px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;

    text-align: justify;
}

.casilla-resultado{
    position: absolute;
    width: auto;
    right: 470px;
    top: 250px;

    text-align: center;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.bt_encriptar{
    position: absolute;
    width: 100px;
    top: 600px;
    left: 200px;
    
}

.bt_desencriptar{
    position: absolute;
    width: 100px;
    top: 600px;
    right: 900px;

}

.copiar{
    position: absolute;
    width: 100px;
    top: 600px;
    right: 750px;
}
